/* COLOR-FONT */
.color-nightblue {
    color: rgba(28, 50, 95, 1);
}
.color-lightgray {
    color: rgba(117, 128, 154, 1);
}
.color-gray {
    color: rgba(111, 123, 151, 1)
}
.color-lightblue {
    color: rgba(11, 112, 255, 1);
}
.color-white {
    color: white;
}
/* HEADER */

/* NAV1 */
.nav-principal {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo > img {
    height: 30px;
    vertical-align: middle;
    line-height: 50px;
}
.logo {
    line-height: 47px;
}
ul>li, a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: medium;
}
.menu-center > li > a,
.menu-right > li > a {
    font-weight: 500;
    color:  rgba(28, 50, 95, 1);
    
}
.menu-center, .menu-right {
    height: 50px;
    line-height: 50px;
}
.menu-center > li {
    padding: 0 0.5rem;
}
.menu-right > li {
    padding-left: 1rem;
}
.btn_blue {
    line-height: 35px;
    display: block;
    border: 2px solid rgba(11, 112, 255, 1);
    border-radius: 5px;
    padding: 0 0.8rem;
    color: rgba(11, 112, 255, 1);
}

/* DBG-IMG-HEADER */
.dbg-banner {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 3rem 0;
}
.banner-text {
    padding-right: 1rem;
}
.banner-text > h1 {
    font-size: 55px;
    padding-right: 6rem;
    padding-bottom: 1rem;
}
.banner-text > p {
    font-size: 24px;
}
.sign {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: rgba(28, 50, 95, 1);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    line-height: 35px;
}
.sign > input, .sign > button {
    margin: 0.8rem 0;
}
.sign-google > img {
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}

/* MAIN */
.dbg-lightgray {
    background-color: rgba(243, 245, 249, 1);
    color: rgba(111, 123, 151, 1);
    font-size: 16px;
}
.brands {
    display: flex;
    align-items: center;
}
.brands > [class*="col-"] > img {
    width: 100%;
}
.description > p {
    font-size: large;
}
.menu-left {
    border-left: 2px solid lightslategray;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-left: 5rem;
}
.options > .option {
    width: 40%;
    padding-bottom: 0.5rem;
}
.options {
    display: flex;
    flex-wrap: wrap;
}
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-img > img {
    height: 300px;
}
.fa-angle-left, .fa-angle-right {
    font-size: 50px;
}
.fa-angle-left:hover, .fa-angle-right:hover {
    cursor: pointer;
    color: rgba(28, 50, 95, 1);
}
.circle {
    height: 10px;
    width: 10px;
    margin: 0 0.15rem;
    border: 2px solid rgba(11, 112, 255, 1);
    border-radius: 50%;
}
.circle:hover {
    cursor: pointer;
    background-color: rgba(11, 112, 255, 1);
}
/* REGIONS */
.dbg-blue-gradient {
    background-color:blue;
    color: white;
}
.region {
    font-size: small;
}
.cod-region {
    padding-left: 1rem;
}
.link-region {
    color: rgba(0, 170, 197, 1);
    font-size: small;
}

.btn-white {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: small;
    margin-top: 1rem;
}

/* FOOTER */
.dbg-darkblue {
    background-color: rgba(3, 28, 78, 1);
    color: rgba(117, 128, 154, 1);
}
.list_footer > li {
    display: block;
}
.list_footer > li > a {
    color: rgba(117, 128, 154, 1);
}
.list_footer > li:first-child > a{
    color: white;
    font-weight: 600;
}